Repository waketzheng/aiopathlib: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, pypi

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
    python: python3.13
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    # To upgrade hooks run: `pre-commit autoupdate`
    rev: v5.0.0  # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        args: [ --unsafe ]
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: format
        name: check and reformat by ruff/mypy
        entry: fast lint
        language: system
        types: [python]
      - id: pypi
        name: ensure pypi for uv lock
        files: 'uv.lock'
        entry: ./scripts/uv_pypi.py
        language: system

feat: drop support for py38/py39
  .github/workflows/codecov.yml
  .gitignore
  aiopathlib/__init__.py
  justfile
  pyproject.toml
  scripts/lint.py
  tests/conftest.py
  uv.lock
Due: format, pypi

ci: separate job to lint and test
  .github/workflows/codecov.yml
Due: none

ci: fix pip uninstall timeout
  .github/workflows/codecov.yml
Due: none

ci: add publish workflow
  .github/workflows/publish.yml
Due: none

Bump version: 0.6.0 → 0.7.0
  aiopathlib/__init__.py
Due: format

docs: update changelog
  CHANGELOG.md
Due: none
